{% extends 'base.html' %}
{% block title %} new post {% endblock %}
{% block content %}
<!--  -->
<h1 class="title">{{user.first_name}} {{user.last_name}}</h1>
<h2>add a post</h2>
<form method="post">
    <div>
        <!-- <label for="title">title</label> -->
        <input type="text" id="title" name="title" placeholder="title">
    </div>
    <div>
        <!-- <label for="content">content</label> -->
        <br>
        <textarea name="content" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">submit</button>
    <button formaction="/users/{{user.id}}" formmethod="get">back</button>
</form>
{% endblock %}